/*.default-color0.chart-pie { -fx-pie-color: #6bff2b; }*/
/*.default-color1.chart-pie { -fx-pie-color: #79e9ff; }*/
/*.default-color2.chart-pie { -fx-pie-color: #efa771; }*/

/*.chart-pie-label-line {*/
    /*-fx-stroke: #ffffff;*/
    /*-fx-fill: #ffffff;*/
/*}*/

/*.chart-pie {*/
    /*-fx-border-width: 0px;*/
/*}*/

/*.chart-pie-label {*/
    /*-fx-fill: #ffffff;*/
    /*-fx-font-size: 1.2em;*/
/*}*/

.chart {
    -fx-background-color: #4b5962;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-horizontal-grid-lines {
    -fx-stroke: #5d6a72;
}

/*
.chart-symbol {
    -fx-background-color: #f3622d, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}
*/

.default-color0.chart-series-line { -fx-stroke: transparent; }
.default-color1.chart-series-line {
    -fx-stroke: white;
    -fx-stroke-width: 1px;
}
.default-color0.chart-line-symbol {
    -fx-background-color: #f3622d, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}
.default-color1.chart-line-symbol {
    -fx-background-color: transparent, transparent;
}

